<footer>
  <div class="row">
    <div class="medium-8 columns">
      <ul class="no-bullet">
        <li>
          Documentation generated on {{generated}}
        </li>
        <li>
          <a href="http://github.com/rprieto/api-swatch">
            Powered by api-swatch
            <div class="logo">
              <div class="swatch color-GET"></div>
              <div class="swatch color-POST"></div>
              <div class="swatch color-PUT"></div>
              <div class="swatch color-DELETE"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
