* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: Verdana;
}

a {
  color: #00bbff;
  text-decoration: none;
}

strong {
  color: #ff003c;
}

header {
  color: #fff;
  background-color: #333;
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 1em;
  text-transform: uppercase;
}

nav {
  float: left;
  height: 100%;
  min-height: 10em;
  padding: 1em 0.5em 1em 0;
  width: 15em;
}

nav ul {
  padding-left: 0.5em;
}

nav ul:not(:first-child) {
  border-left: 2px solid #f3f3f3;
  margin-left: 1em;
}

nav span, nav a {
  display: block;
  padding: 0.3em 0.5em;
}

nav span {
  color: #888;
}

nav a:hover {
  background-color: #00bbff;
  color: #fff;
}

.content {
  background-color: #fafafa;
  margin-left: 15em;
  min-height: 40em;
  padding-bottom: 5em;
}

.category {
  padding: 1em;
}

h1 {
  background-color: #333;
  color: #fff;
  display: block;
  font-size: 1.2em;
  padding: 0.5em;
}

.action {
  color: #666;
  font-family: monospace;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.action .uri {
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: none;
  display: block;
  overflow: hidden;
  padding: 0.5em;
}

.action .method {
  background-color: #00bbff;
  border: 1px solid #00bbff;
  color: #fff;
  display: block;
  float: left;
  padding: 0.5em;
}

.method.GET {
  background-color: #00cd36;
  border-color: #00cd36;
}

.method.POST {
  background-color: #00bbff;
  border-color: #00bbff;
}

.method.PUT {
  background-color: #ff4400;
  border-color: #ff4400;
}

.method.DELETE {
  background-color: #ff003c;
  border-color: #ff003c;
}

.summary {
  color: #666;
  font-style: italic;
  margin: 2em 0;
}

.category .resources {
  margin-left: 3em;
}

.summary ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin: 0.5em 0;
}

h2 {
  font-weight: bold;
  margin: 2em 0 1em 0;
}

li:not(:first-child) h2 {
  margin-top: 3em;
}

.request-response {
  background-color: #eee;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.request-response .expander {
  margin-left: 1em;
  position: relative;
  top: -1px;
}

.request-response .title {
  display: inline-block;
  padding: 0.5em;
}

.expander:not(:checked) ~ .expandable {
  display: none;
}

.expander:checked ~ .expandable {
  border-top: 1px solid #ccc;
  display: block;
}

code {
  background-color: #fff;
  color: #666;
  display: block;
  font-family: monospace;
  font-size: 0.9em;
  padding: 1em;
}

code pre {
  overflow: scroll;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  padding: 1em;
  text-align: right;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

