<!DOCTYPE html>
<html>

  {{> head}}

  <body class="antialiased hide-extras">

    {{> navigation}}

    <div class="content-top"></div>
    <div class="content">
      {{markdown intro}}
    </div>

    {{> footer}}

    <script src="scripts/zepto.min.js"></script>
    <script src="scripts/scripts.js"></script>

  </body>

</html>
