<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="css/foundation.min.css" />
      <link rel="stylesheet" type="text/css" href="css/styles.css" />
      <link rel="stylesheet" type="text/css" href="css/highlight.github.css" />
      <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  </head>

  <body class="antialiased hide-extras">
    <div class="inner-wrap">

      {{> header}}

      <section role="main">
        <div class="row">

          <div class="large-3 medium-4 columns">
            {{> sidebar}}
          </div>

          <div class="large-9 medium-8 columns content">

            {{markdown intro}}

            {{#each hierarchy}}

              <h1>{{name}}</h1>

              {{#each groups}}
                {{> group}}
              {{/each}}

            {{/each}}

          </div>

        </div>
      </section>

      {{> footer}}

    </div>

    <script src="scripts/zepto.min.js"></script>
    <script src="scripts/scripts.js"></script>
  </body>

</html>
